<main class="margin_60_35">
  <div class="bg_color_2">
    <div class="container margin_60_35">
      <div id="login-2">
        <h1>{{ "Password Recovery" | translate }}</h1>
        <p class="forgetpass">
          {{
            "Enter the new password and confirm it to be able to continue on the website with your account"
              | translate
          }}
        </p>
        <form
          [formGroup]="resetpassword"
          (ngSubmit)="submitForm(resetpassword)"
        >
          <div class="box_form clearfix">
            <div class="box_login last">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="code"
                  placeholder="{{ 'code' | translate }}"
                  formControlName="code"
                  [ngClass]="{ 'is-invalid': f.code.errors }"
                />
                <div
                  *ngIf="
                    resetpassword.controls.code.invalid &&
                    resetpassword.controls.code.touched &&
                    resetpassword.controls.code.dirty
                  "
                  style="color: red; margin: 0px 17px"
                >
                  <span *ngIf="resetpassword.controls.code.errors.required">{{
                    "required" | translate
                  }}</span>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="{{ 'Your password' | translate }}"
                  formControlName="password"
                  (keyup)="checkpassword($event)"
                  [ngClass]="{
                    'is-invalid': typeingpasswords && f.password.errors
                  }"
                />

                <div
                  *ngIf="
                    resetpassword.controls.password.invalid &&
                    resetpassword.controls.password.touched &&
                    resetpassword.controls.password.dirty
                  "
                  style="color: red; margin: 0px 17px"
                >
                  <span
                    *ngIf="resetpassword.controls.password.errors.required"
                    >{{ "required" | translate }}</span
                  >
                  <span
                    *ngIf="resetpassword.controls.password.errors.pattern"
                    >{{
                      "you must enter 10 digit & at least one capital character"
                        | translate
                    }}</span
                  >
                </div>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  name="conpassword"
                  placeholder="{{ 'Confirm password' | translate }}"
                  formControlName="conpassword"
                  [ngClass]="{ 'is-invalid': f.conpassword.errors }"
                />
                <div
                  *ngIf="
                    resetpassword.controls.conpassword.invalid &&
                    resetpassword.controls.conpassword.touched &&
                    resetpassword.controls.conpassword.dirty
                  "
                  style="color: red; margin: 0px 17px"
                >
                  <span
                    *ngIf="resetpassword.controls.conpassword.errors.required"
                    >{{ "required" | translate }}</span
                  >
                </div>
              </div>

              <div class="form-group">
                <input
                  class="btn_1"
                  type="submit"
                  value="{{ 'send' | translate }}"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- /login -->
    </div>
  </div>
</main>
<!-- /main -->

<!-- !Preloader -->
<div id="page-preloader" *ngIf="showSpinner">
  <div id="spinner-three">
    <div id="inner"></div>
    <div id="outer"></div>
  </div>
</div>
