<main class="margin_60_35">
  <div class="bg_color_2">
    <div class="container margin_60_35">
      <div id="login">
        <h1>{{ "Please Open the customer !" | translate }}</h1>
        <div class="box_form">
          <form
            [formGroup]="createclient"
            (ngSubmit)="submitclient(createclient)"
          >
            <div class="form-group">
              <label>{{ "Email" | translate }}</label>
              <input
                name="email"
                type="email"
                class="form-control"
                formControlName="email"
                (keyup)="checkemail($event)"
                [ngClass]="{ 'is-invalid': typeingemail && f.email.errors }"
              />
              <div
                *ngIf="
                  createclient.controls.email.invalid &&
                  createclient.controls.email.touched &&
                  createclient.controls.email.dirty
                "
                style="color: red; margin: 0px 17px"
              >
                <span *ngIf="createclient.controls.email.errors.required">{{
                  "required" | translate
                }}</span>
                <span *ngIf="createclient.controls.email.errors.pattern">{{
                  "please enter valid email" | translate
                }}</span>
              </div>
            </div>
            <div class="form-group">
              <label>{{ "Username" | translate }} </label>
              <input
                name="user_name"
                type="text"
                class="form-control"
                formControlName="user_name"
                [ngClass]="{ 'is-invalid': f.user_name.errors }"
              />

              <div
                *ngIf="
                  createclient.controls.user_name.invalid &&
                  createclient.controls.user_name.touched &&
                  createclient.controls.user_name.dirty
                "
                style="color: red; margin: 0px 17px"
              >
                <span *ngIf="createclient.controls.user_name.errors.required">{{
                  "required" | translate
                }}</span>
              </div>
            </div>
            <div class="form-group">
              <label>{{ "Password" | translate }}</label>
              <input
                [type]="fieldTextType1 ? 'text' : 'password'"
                class="form-control"
                name="password"
                formControlName="password"
                (keyup)="checkpassword($event)"
                [ngClass]="{
                  'is-invalid': typeingpassword && f.password.errors
                }"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !fieldTextType1,
                      'fa-eye': fieldTextType1
                    }"
                    (click)="toggleFieldTextType1()"
                  ></i>
                </span>
              </div>
              <div
                *ngIf="
                  createclient.controls.password.invalid &&
                  createclient.controls.password.touched &&
                  createclient.controls.password.dirty
                "
                style="color: red; margin: 0px 17px"
              >
                <span *ngIf="createclient.controls.password.errors.required">{{
                  "required" | translate
                }}</span>
                <span *ngIf="createclient.controls.password.errors.pattern">{{
                  "you must enter 10 digit & at least one capital character"
                    | translate
                }}</span>
              </div>
            </div>
            <div class="form-group">
              <label>{{ "Confirm password" | translate }}</label>
              <input
                [type]="fieldTextType2 ? 'text' : 'password'"
                class="form-control"
                name="conpassword"
                formControlName="conpassword"
                [ngClass]="{ 'is-invalid': f.conpassword.errors }"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !fieldTextType2,
                      'fa-eye': fieldTextType2
                    }"
                    (click)="toggleFieldTextType2()"
                  ></i>
                </span>
              </div>
              <div
                *ngIf="
                  createclient.controls.conpassword.invalid &&
                  createclient.controls.conpassword.touched &&
                  createclient.controls.conpassword.dirty
                "
                style="color: red; margin: 0px 17px"
              >
                <span
                  *ngIf="createclient.controls.conpassword.errors.required"
                  >{{ "required" | translate }}</span
                >
              </div>
            </div>

            <div class="form-group text-center add_top_20">
              <input
                class="btn_1 medium"
                type="submit"
                value="{{ 'Submit' | translate }}"
              />
            </div>
          </form>
        </div>
      </div>
      <!-- /login -->
    </div>
  </div>
</main>
<!-- /main -->

<div id="page-preloader" *ngIf="showSpinner">
  <div id="spinner-three">
    <div id="inner"></div>
    <div id="outer"></div>
  </div>
</div>
