<main class="margin_60_35">

    <div class="header-secondary-nav">
        <div class="container terms">
             <h3>{{'Privacy and Policy'|translate}}</h3> 
     </div>
 </div>
 <div class="container">
    <div class="card-details-wrapper card-box-shadow">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="color: #82004a;"> {{'WELCOME TO RaFiiQ'|translate}}</h3>
                <div class="slimScrollDiv" *ngFor="let s of PrivacePolicy">
                    <br>
                    <p>{{s.text}}</p>

                  
                </div>

                <accordion>
                    
                    <accordion-group heading="{{s.title}}"  *ngFor="let s of subjects">

                      {{s.details}}
                    </accordion-group>
               
                    
                  </accordion>
            </div>
        </div>
       
</div>

<br>
</div>


</main>

<div id="page-preloader" *ngIf="showSpinner">

    <div id="spinner-three">
      <div id="inner"></div>
      <div id="outer"></div>
    </div>
  
  </div>