<main class="margin_60_35">

    <div class="bg_color_2">
        <div class="container margin_60_35">
            <div id="login-2">
                <h1> {{'Password Recovery'|translate}}
                </h1>
<p class="forgetpass"> {{'To retrieve your password, please enter your email address to send a recovery message by mail.'|translate}}</p>         
      <form  #form="ngForm" (ngSubmit)="submitForm(email)">
                    <div class="box_form clearfix">
                        
                        <div class="box_login last">
                            <div class="form-group">
                                <input #email name="email" type="email" class="form-control" placeholder="{{'Your email address'|translate}}" style="width:100% ;">
                            </div>
          
                            <div class="form-group">
                                <input class="btn_1" type="submit" value="{{'send'|translate}}">
                            </div>
                       
                        </div>
                    </div>
                </form>
            </div>
            <!-- /login -->
        </div>
    </div>
</main>
<!-- /main -->


<!-- !Preloader -->
<div id="page-preloader" *ngIf="showSpinner">

    <div id="spinner-three">
      <div id="inner"></div>
      <div id="outer"></div>
    </div>
  
  </div>
  <!-- /// !Preloader -->
  
  